<div class="container pt-3">
  <form novalidate="novalidate"




  >

   <div class="card">
     <div class="card-header text-center ">
       <h2>
         Envio de Evidências.
       </h2>
     </div>
     <div class="card-body">
       <p class="card-title">
       title
       <!-- Dados do solicitante. -->
       <div class="card">
         <div class="card-header">

           <div>
             Envio de evidências
           </div>
         </div>
         <div class="card-body">
           <div class="form-row">
              <div class="form-group col-md-12">
                <label for="userId">Nº Requisição/Chamado:</label>
                <input

                 formControlName="requestNumber"
                 type="text"
                 class="form-control"
                 id="requestNumber"
                 >
                <div class="invalid-feedback">
                  <p>Atenção preencha a Requisição/Chamado:</p>
                </div>
              </div>
           </div>
           <div class="form-row">

           </div>
           <div class="form-row" >
            <div class="form-group col-md-12">
              <label for="infoAditional">Informações adicionais.</label>
              <textarea
              formControlName="infoAditional"
              class="form-control" id="infoAditional" rows="3"></textarea>
            </div>
          </div>
         </div>
       </div>
       <!-- <div class="card-footer text-muted"></div> -->
     </div>
     <div class="card-footer text-muted text-right">
       <button type="submit" class="btn btn-primary">Continuar</button>
     </div>
   </div>
 </form>
</div>

